.keywords__calculate{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 3rem;
    position: relative;    
}

button{
    height: 5rem;
    width: 10rem;
    margin: .3rem;
    padding-inline: .3rem;
    border: 1px solid black;
    border-radius: 5px;
}