*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
    font-family: Helvetica, sans-serif;
}

body{
    margin: 25px;
}

.calculate{
    background-color: black;
    border-radius: 50px;
    padding: 20px;
    width: 563px;
    height: 1218px;
    color: white;
}

.top__container{
    padding: 0 20px;
    height: 250px;
    display: flex;
    justify-content: space-between;
}

.display__calculate{
    color: #fff;
    padding: 15px;
    text-align: right;
    margin: 5px 0 6px;
}

.display__calculate input{
    background: transparent;
    border: none;
    color: #f2f2f2;
    font-size: 130px;
    font-weight: 300;
    margin-bottom: 20px;
    text-align: right;
    width: 100%;
}

.keywords__calculate{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 50%;
    background-color: #343434;
    color: #f2f2f2;
    cursor: pointer;
    font-size: 45px;
    font-weight: 500;
    height: 110px;
    width: 110px;
    margin: 5px;
}

.button.function{
    background-color: #A5A5A5;
    color: black;
}

.button.operation{
    background-color: #FF9E0B;
}

.button.number-0{
    width: 240px;
    border-radius: 55px;
    justify-content: flex-start;
    padding: 40px;
    grid-column-start: 1;
    grid-column-end: 3;
}
